/**
   ____            ____
   / __ \___ _   __/ __ \____  _____
  / /_/ / _ \ | / / / / / __ \/ ___/
 / _, _/  __/ |/ / /_/ / /_/ (__  )
/_/ |_|\___/|___/\____/ .___/____/
                     /_/
 **/

/* =======================
 * List of classes & ids
 */


/*  DEMO STYLES =========
 * -----------------------
 * Overall
 * ----------------------- */
  .section-width {
    /* This dictates the width of the form elements */
    width: 404px;
  }

 /*
 * -----------------------
 * Links
 * ----------------------- */
a.pay-by-ach-link,
a.pay-by-cc-link,
.manual-link {
  color: #4183C4;
}
a.pay-by-ach-link:hover,
a.pay-by-cc-link:hover,
.manual-link:hover {
  text-decoration: underline;
}

/*
 * -----------------------
 * Buttons
 * ----------------------- */
 .btn-primary,
 .btn-secondary {
   padding: .75rem 1.25rem;
   font-size: 1rem;
   font-weight: 700;
 }
 .btn-primary:hover,
 .btn-secondary:hover {
  cursor: pointer;
 }
.btn-primary {
  color: #ffffff;
  border-radius: 6px;
  background: #4183C4;
  float: right;
}
.btn-secondary {
  border-radius: 6px;
  background-color: #eee;
  color:#555;
}
.centered.single {
  margin: 2rem auto 0;
}

/*
 * -----------------------
 * Fields (Card, ACH, Plaid)
 * ----------------------- */

.field-space iframe {
  height: 50px;
}

.field-examples {
  border-radius: 6px;
}

#card-form .field > label,
#ach-form .field > label,
#plaid-form .field > label {
  color: #777582;
  font-weight: bold;
}


label.h3 {
  font-size: 1.28571429rem;
  line-height: 1.28571429em;
  font-weight: 700;
}

.form-container label {
  font-weight: bold;
}

/*
 * -----------------------
 * Error Messaging
 * -----------------------*/

.validation-error .field-space + span {
  color: red;
}
.validation-error .field-space {
  border: 2px solid red;
  border-radius: 6px;
}

/*
 * -----------------------
 * Misc for demo app
 * -----------------------*/
.revops-demo {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  max-height: 100%;
}
.revops-demo-label {
  color: #777582;
  font-weight: bold;
  display: block;
  margin-bottom: .5rem;
}
.revops-demo-input {
  display: block;
  border-radius: 4px;
  height: 50px;
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
  outline: none;
  box-sizing: border-box;
  transition: all .15s ease-in-out;
  border: 1px solid #cccccc;
}
/* ===== END OF DEMO STYLES */



/*  LAYOUT STYLES ========
 * -----------------------
 * Links
 * ----------------------- */
a.pay-by-ach-link,
a.pay-by-cc-link {
  float: right;
}
a.pay-by-ach-link:hover,
a.pay-by-cc-link:hover,
.manual-link:hover {
  cursor: pointer;
}
.manual-link {
  display: block;
  margin: 1rem 0;
}

/*
 * -----------------------
 * Fields (Card, ACH, Plaid)
 * ----------------------- */

.field-space iframe {
  border: 0 none transparent;
  vertical-align: middle;
  height: 50px;
  width: 100%;
}

.field-space {
  width: 100%;
  display: block;
}

.field-examples {
  margin: 0 auto;
}

#card-form .field > label,
#ach-form .field > label,
#plaid-form .field > label {
  margin-top: 1rem;
}


label.h3 {
  margin: calc(2rem - .14285714em) 0 1rem;
  padding: 0;
}

label.h3:first-child {
  margin-top: 0;
}

.form-container label {
  display: inline-block;
  line-height: 2rem;
}

/* Container for Buttons */
#button-group {
  height: 7px;
}

/*
 * -----------------------
 * Card Form
 * -----------------------*/
#card-cvc.card-cvc-container {
  float: right;
}

#card-expdate.card-expdate-container,
#card-cvc.card-cvc-container {
  width: 47%;
  display: inline-block;
}

/*
 * -----------------------
 * ACH Form
 * -----------------------*/
label.h3

/*
 * -----------------------
 * Plaid Form
 * -----------------------*/

/*
 * -----------------------
 * Buttons
 * -----------------------*/

/* Button Styling */
.centered.single.ui.button {
  text-align: center;
  display: block;
  margin: 1.7rem auto 0;
}
.centered.single {
  display: block;
  text-align: center;
}

/*
 * -----------------------
 * Terms & Conditions
 * -----------------------*/
#standard-terms {
  max-width: 768px;
  margin: 0 auto;
}
#standard-terms .float-wrapper {
  position: relative;
  width: 100%;
  overflow-y: hidden;
}
#standard-terms .float-above {
  position: fixed;
  z-index: 1;
  bottom: 0;
  background: white;
  padding: 1rem 0;
  border-top: 1px solid #ccc;
  width: 100%;
  max-width: 768px;
}

/*
 * -----------------------
 * Error Messaging
 * -----------------------*/

.validation-error .field-space + span {
  display: inline-block;
  margin-top: 3px;
}

/*
 * -----------------------
 * Misc
 * ----------------------- */
  .divider-line {
    border-top: 1px solid rgba(34,36,38,.15);
    border-bottom: 1px solid rgba(255,255,255,.1);
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

/* Media Query Reset */
@media only screen and (max-width: 992px) {
  #standard-terms .float-above {
    width: 67vw;
  }
}
@media only screen and (max-width: 767px) {
  .ui.container {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media only screen and (max-width: 501px) {
  #standard-terms .float-above {
    width: 84%;
    max-width: 465px;
  }
}
/* ===== END OF LAYOUT STYLES */
