#main-wrapper {
  max-width: 500px;
}

.field-space iframe {
  border: 0 none transparent;
  height: 50px;
  vertical-align: middle;
  width: 100%;
}

.field-space {
  width: 100%;
  display: block;
}

.field-examples {
  width: 500px;
  margin: 0 auto;
  border-radius: 6px;
}
