img.logo {
  margin: 2rem auto;
  display: block;
}

#main-wrapper {
  max-width: 500px;
}

.field-space iframe {
  border: 0 none transparent;
  height: 50px;
  vertical-align: middle;
  width: 100%;
}

.field-space {
  width: 100%;
  display: block;
}

.field-examples {
  width: 500px;
  margin: 0 auto;
  border-radius: 6px;
}

/* Consistent Credit Card Styling */
#cc-cvc.cvc-container {
  float: right;
}
#cc-exp.exp-container,
#cc-cvc.cvc-container {
  width: 47%;
  display: inline-block;
}

#standard-terms .float-above {
  position: fixed;
  z-index: 1;
  bottom: 0;
  background: white;
  padding: 1rem 0;
  border-top: 1px solid #ccc;
  width: 100%;
  max-width: 465px;
}

/* Media Query Reset */
@media only screen and (max-width: 767px) {
  .ui.container {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media only screen and (max-width: 501px) {
  #standard-terms .float-above {
    width: 84%;
    max-width: 465px;
  }
}
